.advantages {
    background-color: #f6f6f6;
    padding: 71px 0 64px 0;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__subtitle {
        margin-top: 38px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0d0d0d;
    }
    &__descr {
        margin-top: 26px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0d0d0d;
        text-align: center;
        a {
            text-decoration: underline;
            color: #f00;
        }
    }
}