    @font-face {
    font-family: 'Museo Sans 300 Light Italic';
    src: url('MuseoSansCyrl-300Italic.eot');
    src: url('MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-300Italic.woff') format('woff'),
    url('MuseoSansCyrl-300Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


    @font-face {
    font-family: 'Museo Sans 500 Medium Italic';
    src: url('MuseoSansCyrl-500Italic.eot');
    src: url('MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-500Italic.woff') format('woff'),
    url('MuseoSansCyrl-500Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


    @font-face {
    font-family: 'Museo Sans 700 Bold Italic';
    src: url('MuseoSansCyrl-700Italic.eot');
    src: url('MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-700Italic.woff') format('woff'),
    url('MuseoSansCyrl-700Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }